[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Gaia Rdio for Covergloobus by ~gabriela2400
Type=Link
URL=http://covergloobus.deviantart.com/gallery/#/d317fy3
Icon=gnome-fs-bookmark
