[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Grungy paper texture v.6 by ~bashcorpo
Type=Link
URL=http://browse.deviantart.com/resources/textures/?q=paper#/dmeybp
Icon=gnome-fs-bookmark
