[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Ipod nano 4g by ~nurutheone
Type=Link
URL=http://browse.deviantart.com/?q=iPod%20nano%20gimp&order=9&offset=0#/d1m2lur
Icon=gnome-fs-bookmark
