[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit SimpleCover "NowPlaying" by ~Anthraxp12
Type=Link
URL=http://browse.deviantart.com/?qh=&section=&global=1&q=svg+cover#/d21q12c
Icon=gnome-fs-bookmark
