[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Smaller Screen Titles by ~rafeviper
Type=Link
URL=http://browse.deviantart.com/?qh=&section=&q=smaller+screen+titles#/d356vlg
Icon=gnome-fs-bookmark
