[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Tape stocks by ~danigranger
Type=Link
URL=http://browse.deviantart.com/resources/stockart/?q=tape#/d1q3kbf
Icon=gnome-fs-bookmark
