Source: gmusicbrowserart
Section: sound
Priority: optional
Maintainer: Andreas Böttger <andreas.boettger@gmx.de>
Homepage: http://gmusicbrowser.org/

Package: gmusicbrowserart
Architecture: all
Depends: gmusicbrowser (>= 1.1.7)
Recommends:
Suggests:
Description: No description yet

